<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.api.board.mapper.BoardMapper">
    <resultMap id="BaseResultMap" type="com.board.api.board.Board">
        <id column="num" jdbcType="BIGINT" property="num" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="TEXT" property="content" />
        <result column="created_date" jdbcType="DATE" property="createdDate" />
        <result column="modified_date" jdbcType="DATE" property="modifiedDate" />
    </resultMap>
    <sql id="board">
        num, name, title, content, created_date, modified_date
    </sql>
    <select id="getBoardList" resultType="com.board.api.board.Board" >
        select
            num
             , name
             , title
             , content
             , created_date
             , modified_date
        from board;
    </select>

    <select id="getBoardName" resultType="com.board.api.board.Board">
        select name from board
    </select>

</mapper>