<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.api.board.mapper.BoardMapper">
    <resultMap id="BaseResultMap" type="com.board.api.board.Board">
        <id column="num" jdbcType="BIGINT" property="num" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="content" jdbcType="TEXT" property="content" />
        <result column="created_date" jdbcType="DATE" property="createdDate" />
        <result column="modified_date" jdbcType="DATE" property="modifiedDate" />
    </resultMap>
    <sql id="board">
        num, name, title, content, created_date, modified_date
    </sql>
    <select id="getBoardList" resultType="com.board.api.board.Board" >
        select
            num,rownum
             , name
             , title
             , content
             , created_date
             , modified_date
        from board;
        select @rownum:=@rownum+1 as rownum, T.* from board T,(select @rownum := 0)tmp order by num DESC;
    </select>
    <select id="getBoard" parameterType="Long" resultType="com.board.api.board.Board">
        select * from board where num=#{board}
    </select>

    <insert id="insertBoard" parameterType="com.board.api.board.Board">
        INSERT INTO board (name, title, content, created_date, modified_date)
        VALUES (#{name}, #{title}, #{content}, #{createdDate}, #{modifiedDate})
    </insert>

    <update id="updateBoard" parameterType="com.board.api.board.Board">
        UPDATE board SET title=#{title}, content=#{content} WHERE num=#{num};
    </update>


</mapper>