<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.api.board.mapper.BoardMapper">

    <select id="getBoardList" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

    <select id="getBoard" parameterType="Long" resultType="com.board.api.board.Board">
        select * from board where num = #{board}
    </select>

    <insert id="insertBoard" parameterType="com.board.api.board.Board" useGeneratedKeys="true" keyColumn="num">
        INSERT INTO board (name, title, content, created_date, modified_date)
        VALUES (#{name}, #{title}, #{content}, #{createdDate}, #{modifiedDate})
    </insert>

    <update id="updateBoard" parameterType="com.board.api.board.Board">
        update board set title   = #{title}, content = #{content} where num = #{num}
    </update>
    <delete id="deleteBoard" parameterType="com.board.api.board.Board">
        delete from board where num = #{num}
    </delete>
    <select id="getBoardsWithPaging" resultType="com.board.api.board.Board">
        SELECT num,
               name,
               title,
               content,
               created_date,
               modified_date
        FROM board ORDER BY num DESC LIMIT #{offset}, #{amount}
    </select>
</mapper>